/* these are all the media queries for index.html page with the desktop first approach*/
@media screen and (max-width: 1200px) {

	/* reduced size of search bar */
	.searchBar {
		width: 30%;
	}
	input {
		font-size: 11px !important;
	}
}

@media screen and (max-width: 700px){

   

    .track{
        grid-template-columns: 30% 40% 10%;
        grid-column-gap: 5%;
    }

    .latest-releases{
        margin-left: 2rem;
        margin-right: 2rem;
    }
}

@media screen and (max-width:700px) {
    aside{
        display: none;
    }

    main {
        grid-template-columns: 100% 0%;
    }
    
}